# Build folders
/build/
/.cache/

# CMake generated
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Prerequisites
*.d

# Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Static libs
*.lai
*.la
*.a
*.lib

# Dynamic libs
*.so
*.dylib
*.dll

# Executables
*.exe
*.out
*.app

# Fortran
*.mod
*.smod

# wxWidgets (optional)
*.rc
*.res

# macOS
.DS_Store
